.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

data/warehouse/*
!data/warehouse/.gitkeep

dbt_data_platform/logs/
dbt_data_platform/target/
dbt_data_platform/dbt_packages/
*.duckdb
*.duckdb.wal

.DS_Store
Thumbs.db
